:host {
  display: block;
  font-family: 'Rubik One', sans-serif;
  background: var(--gdg-liege-red);
}
hr {
  height: 2px;
  border: 0;
  width: 25%;
  background: white;
  margin: 48px 0;
  opacity: 0.22;
}
section.header {
  background-color: white;
}

app-box {
  height: 640px;
}
.first {
  --app-box-background-front-layer: {
    background-image: url(../../../images/background-about.jpg);
    background-position: top;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}
.second {
  --app-box-background-front-layer: {
    background-image: url(../../../images/background-about-end2.jpg);
    background-position: bottom;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}
.third {
  --app-box-background-front-layer: {
    background-image: url(//app-layout-assets.appspot.com/assets/bg3.jpg);
    background-position: bottom;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}
.fourth {
  --app-box-background-front-layer: {
    background-image: url(//app-layout-assets.appspot.com/assets/bg4.jpg);
    background-position: bottom;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}

article {
  font-weight: 100;
  max-width: 900px;
  text-align: right;
  margin: 120px auto;
  padding: 0 20px;
  position: relative;
}
.content article {
  text-align: left;
}
.content article h2 {
  color: white;
  margin-bottom: 64px;
}
.content article p {
  color: white;
  opacity: 0.7;
  text-align: justify;
}
article h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  text-transform: uppercase;
  color: var(--gdg-liege-red);
}
article p {
  margin: 0;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.7px;
  font-family: 'Arvo', sans-serif;
  color: var(--secondary-text-color);
}
article p span {
  color: var(--gdg-liege-red);
  opacity: 0.87;
}
article iron-icon {
  position: absolute;
  right: -120px;
  top: -75%;
  height: 240px;
  width: 240px;
  opacity: 0.06;
}

article .team iron-image {
  width: 132px;
  height: 132px;
  --iron-image-placeholder: {
    background: #ffffff;
  };
}
article .team .team-title {
  margin: 0 0 8px;
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Rubik One', sans-serif;
  font-size: 16px;
  line-height: 16px;
}
article .team p {
  font-size: 16px;
  color: white;
  opacity: 1;
  font-weight: 300;
  margin: 24px 0 0;

}
article .team hr {
  margin: 20px 0;
}
article paper-icon-button {
  margin: 0 4px;
  height: 32px;
  width: 32px;
  opacity: 0.7;
  --paper-icon-button-ink-color: white;
}
article paper-icon-button:hover {
  opacity: 1;
  transition: 0.3s;
}



@media all and (max-width: 600px) {
  .content article .team {
    @apply(--layout-vertical);
  }
  .content article .team > div {
    margin-bottom: 80px;
  }
  .content article .team > div:last-child {
    margin-bottom: 0;
  }
}

