      :host {
        display: block;
        background: var(--paper-grey-50);
        height: 100%;
      }
      .social-icons {
        margin: 0 20px 0 0;
      }
      paper-menu-button paper-item {
        width: 170px;
      }
      .gdg {
        position: fixed;
        right: 1%;
        bottom: 8px;
        opacity: 0.33;
      }
      .gdg img {
        height: 100px;
      }
      .content {
        @apply(--layout-vertical);
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
      }
      a {
        color: var(--accent-color);
      }
      hr {
        border: 0;
        height: 1px;
        background-color: black;
        opacity: 0.22;
      }
      hr.separator {
        background-color: var(--accent-color);
        width: 25%;
        height: 3px;
        opacity: 1;
      }

      paper-material {
        background-color: #fff;
        margin: 48px 24px;
        padding: 32px 56px;
      }
      
      paper-toolbar {
        --paper-toolbar-background: var(--bg-color-toolbar-gdg);
      }
      paper-toolbar iron-image {
        margin: 0 64px 0 32px;
      }
      paper-toolbar paper-tabs {
        color: white;
        @apply(--paper-font-button);
        --paper-tabs-selection-bar-color: var(--accent-color);
        width: 100%;
      }
      paper-toolbar paper-tab {
        --paper-tab-ink: var(--accent-color);
        padding-left: 44px;
        padding-right: 44px;
      }

  


      .navigation-icon {
        width: 64px;
        height: 64px;
        color: var(--paper-grey-400);
        margin: 0 16px 0 0;
      }


    /* About */
      .about {
        opacity: 0.87;
        text-align: justify;
        font-weight: 300;
        margin: 32px 0 64px;
      }
      .team {
        margin: 64px 0 32px;
        @apply(--layout-horizontal);
        @apply(--layout-justified);
      }
      .team .user {
        text-align: justify;
        margin: 0 12px;
      }
      .team > div {
        width: 33%;
      }
    /* Home  */
      .blog-post {
        margin: 40px 0 40px;
      }
      .text-post {
        font-weight: 400;
        opacity: 0.87;
        text-align: justify;      
      }
      .read-more {

      }


      /* Events */

      .events {
      }
      paper-ripple {
        color: white;
      }
      .events paper-card {
        margin: 12px 0 16px;
        background: var(--paper-grey-500);
        --paper-card-header-color: white;
        cursor: pointer;
      }
      .events paper-card.active {
        background-color: var(--paper-green-500);
      }

      .events paper-card span {
        color: white;
        opacity: 0.7;
        @apply(--paper-font-body1);
      }

      /* Partners */

      .partner {
        margin: 80px 0;
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      .partner > * {
        padding: 0 12px;
      }
      .partner img {
        width: 25%;
      }


      /* Spotlight */

      .speakers {
        text-transform: uppercase;
        text-align: center;
        color: var(--secondary-text-color);
      }
      .spotlight-items {
        margin: 60px 0;
      }
      .speakers-container {
        margin: 64px 0 32px;
      }
      .speakers-container > div {
        margin: 8px;
      }



  /* Small */
@media (max-width: 700px) {
  paper-material {
    margin: 0 0;
    padding: 16px 28px;
  }
  paper-toolbar paper-tab {
    padding-left: 12px;
    padding-right: 12px;
  }

  paper-toolbar iron-image {
    margin: 0 0;
  }



  /* Partners */

  .partner {
    margin: 40px 0 80px;
    @apply(--layout-vertical);
  }
  .partner > * {
    padding: 12px 0;
    text-align: justify;
  }
  .partner img {
    width: 75%;
  }



/* About */
  .about {
    opacity: 0.87;
    text-align: justify;
    font-weight: 300;
    margin: 32px 0 64px;
  }
  .team {
    margin: 64px 0 32px;
    @apply(--layout-vertical);
  }
  .team .user {
    text-align: justify;
    margin: 0 0 40px;
  }
  .team > div {
    width: 100%;
  }

}