:host {
  display: block;
}
.spacer {
  @apply(--layout-flex);
}
span {
  @apply(--paper-font-body1);
}
paper-toolbar {
  color: var(--secondary-text-color);
  --paper-toolbar-background: transparent;
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1080px;
  /*border-bottom: 2px solid var(--paper-grey-200);*/
}
img {
  width: 240px;
}
paper-icon-button {
  margin: 0 12px;
  height: 32px;
  width: 32px;
  --paper-icon-button-ink-color: var(--paper-grey-400);
}
paper-icon-button.go-back {
  min-height: 60px;
  min-width: 60px;
  margin-right: 40px;
  color: black;
  opacity: 0.22;
}
paper-menu-button paper-item {
  color: var(--secondary-text-color);
  width: 132px;
}
paper-menu-button iron-icon {
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

@media all and (max-width: 600px) {
 img {
  width: 160px;
 }
 paper-icon-button {
  color: var(--disabled-text-color);
  margin: 0;
  height: 40px;
  width: 40px;
 }
 paper-icon-button.go-back {
  min-height: 48px;
  min-width: 48px;
  margin-right: 20px;
  color: black;
  opacity: 0.22;
 }
}

