:host {
  display: block;
  font-family: 'Rubik One', sans-serif;
  background: var(--gdg-liege-green);
}
hr {
  height: 2px;
  border: 0;
  width: 25%;
  background: white;
  margin: 48px 0;
  opacity: 0.22;
}
section.header {
  background-color: white;
}

app-box {
  height: 640px;
}
.first {
  --app-box-background-front-layer: {
    background-image: url(../../../images/background-partners.jpg);
    background-position: top;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}
.second {
  --app-box-background-front-layer: {
    background-image: url(../../../images/background-partners-end.jpg);
    background-position: bottom;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}
.third {
  --app-box-background-front-layer: {
    background-image: url(//app-layout-assets.appspot.com/assets/bg3.jpg);
    background-position: bottom;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}
.fourth {
  --app-box-background-front-layer: {
    background-image: url(//app-layout-assets.appspot.com/assets/bg4.jpg);
    background-position: bottom;
    padding-bottom: 120px;
    margin-top: -20px;
    height: 100%;
  };
}

article {
  font-weight: 100;
  max-width: 900px;
  text-align: right;
  margin: 120px auto;
  padding: 0 20px;
  position: relative;
}
.content article {
  text-align: left;
}
.content article h2 {
  color: white;
}
.content article p {
  color: white;
  opacity: 0.7;
  text-align: justify;
}

article h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  text-transform: uppercase;
  color: var(--gdg-liege-green);
}
article p {
  margin: 0;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.7px;
  font-family: 'Arvo', sans-serif;
  color: var(--secondary-text-color);
}
article p span {
  color: var(--gdg-liege-green);
  opacity: 0.87;
}

article iron-icon {
  position: absolute;
  right: -120px;
  top: -75%;
  height: 240px;
  width: 240px;
  opacity: 0.06;
}
paper-button {
  margin: 32px 0;
  background: var(--gdg-liege-green);
  font-weight: 500;
  color: white;
  padding-left: 12px;
  padding-right: 12px;

}
article iron-image {
  width: 300px;
  height: 125px;
  --iron-image-placeholder: {
    background: var(--paper-green-300);
  };
}
.content article iron-image:nth-child(5)  {
  width: 150px;
  height: 150px;
}

@media all and (max-width: 600px) {
  article iron-image {
    width: 240px;
    height: 100px;
  }
}

