:host {
  display: block;
  font-family: 'Rubik One', sans-serif;

}
paper-ripple {
  color: white;
}
.news paper-ripple {
  color: var(--paper-grey-300);
}

.spacer {
  @apply(--layout-flex);
}
.container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  color: white;
  font-size: 48px;
  cursor: pointer;
}

.container iron-icon {
  --iron-icon-height: 196px;
  --iron-icon-width: 196px;
  --iron-icon-fill-color: black;
  opacity: 0.09;
}
.title {
  z-index: 1;
  margin-right: -7%;
  margin-bottom: 5%;
  text-transform: uppercase;
  @apply(--layout-self-end);
  letter-spacing: 1.5px;
}
.news .container:hover .title {
  color: var(--paper-grey-800);
}

.news {
  height: 250px;
  background: #fafafa;
}
.news .title {
  color: var(--paper-grey-500);
}

.events {
  height: 250px;
  background: var(--gdg-liege-blue);
}
.events .title {
  color: white;
  opacity: 0.87;
}
.partners {
  height: 250px;
  background: var(--gdg-liege-green);
}
.partners .title {
  color: white;
  opacity: 0.87;
}
.about {
  height: 250px;
  background: var(--gdg-liege-red) ;
}
.about .title {
  color: white;
  opacity: 0.87;
}
.spotlight {
  height: 250px;
  background: var(--gdg-liege-yellow);
}
.spotlight .title {
  color: white;
  opacity: 0.87;
}




@media all and (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
  .container iron-icon {
    --iron-icon-height: 124px;
    --iron-icon-width: 124px;
    min-height: 124px;
    min-width: 124px;
    --iron-icon-fill-color: black;
    opacity: 0.09;
    margin-left: -48px;
  }
  .title {
    font-size: 66%;
    margin-right: 0;
    margin-bottom: 0;
    opacity: 1;
    @apply(--layout-self-center);
  }
}
